/* Global Default Margin */

* {
	margin: 0px;
}

/* Navbar */

header {
	background-color: #07044D; /* navy */
	padding-bottom: 8px;
}

#navbar ul {
	padding-top: 65px;
	list-style-type: none;
}

.navbar-link {
	vertical-align: 2px;
	padding-left: 36px;
}

#navbar ul li {
	padding: 5px;
	display: inline;
}

/* Hyperlinks */

a:link {
	color: #07044D; /* navy */
}

a:hover {
	color: gray;
}

a {
	text-decoration: none;
}

 /* Body */

body {
	background-color: #DEDEDE; /* light gray */
	text-indent: 1em;
}

#profilepic-container { /* border around profile image */
	background-color: #07044D; /* navy */
	padding: 10px;
}

h1, h2, h3, a {
	font-family: "Gill Sans", sans-serif;
	font-weight: normal;
	color: #07044D; /* navy */
	margin-top: 10px;
}

h1 {
	font-size: 250%;
	text-shadow: 2px 2px 3px #666; /* gray text shadow */
	padding-bottom: 10px;
}

h2 {
	font-size: 90%;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

h2.foot {
	font-size: 50%;
}

h3 {
	font-size: 150%;
}

p {
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.4em;
	color: #333; /* off-black */
}

/* Tables */

table {
	border-spacing: 8px;
}

.left-align-55{
	margin-left: 55px;
}

table.center {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

th {
	text-align: left;
	font-family: "Gill Sans";
	font-size: 11pt;
}

td {
	padding-left: 15px;
	text-align: left;
	text-indent: 0em;
	font-family: "Gill Sans";
	font-size: 1em;
}

/* Content */

#nav ul h2 li {
	padding: 5px;
	display: inline;
}

.news, .awards, .teaching {
	width: 200px;
	text-align: right;
}

#nav, #feature, #footer {
	background-color: #efefef; /* off-white */
	padding: 20px 10px;
	margin: 10px;
	text-align: center;
}

