/* Global */

* {
	margin: 0px;
}

/* Navbar */

header {
	background-color: #07044D;
	padding-bottom: 8px;
}

#navbar ul {
	padding-top: 65px;
	list-style-type: none;
}

#navbar ul li {
	display: inline;
}

#navbar ul li a {
	text-decoration: none;
	padding: 0em 0em;
}

.navbar-link {
	text-align: right;/*HEAD*/
	padding-left: 20px;
	vertical-align: 2px;
	padding-left: 36px;/*END OF HEAD*/
}

#logo {
	text-align: left;
}

/*

 /* Body */

body {
	margin-top: 0px;
	background-color: #DEDEDE;
	text-indent: 1em;
}

h1, h2, h3, a {
	font-weight: normal;
	color: #162c66;
	margin-top: 10px;
}

h1 {
	font-family: "Gill Sans", sans-serif;
	font-size: 250%;
	text-shadow: 2px 2px 3px #666666;
	padding-bottom: 10px;
}

h2 {
	font-family: "Gill Sans", sans-serif;
	font-size: 90%;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

h2.foot {
	font-size: 50%;
}

h3 {
	font-size: 150%;
}

p {
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.4em;
	color: #000000;
}

a:link {
	color: #162c66;
	background-color: transparent;
	text-decoration: underline;
}

a:hover {
	color: gray;
	background-color: transparent;
}

p.intro:first-line {
	font-weight: bold;
}

.credits {
	font-style: italic;
	text-align: right;
}

a {
	text-decoration: none;
}

table {
	border: 0;
	border-spacing: 8px;
	border-left: 10px;
}

.left-align-55{
	margin-left: 55px;
}
table.center {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

th {
	text-align: left;
	font-family: tahoma;
	font-size: 11pt;
}

td {
	padding-left: 15px;
	text-align: left;
	text-indent: 0em;
	font-family: Tahoma;
	font-size: 11pt;
}

td.news {
	width: 200px;
	text-align: right;
}

td.awards {
	width: 200px;
	text-align: right;
}

td.teaching {
	width: 200px;
	text-align: right;
}

td.feature {
	text-align: center;
}

#nav, #feature, #footer {
	background-color: #efefef;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

b.color {
	color: #0066cc;
}

li {
	padding: 5px;
	display: inline;
}

